@model HospitalTierraMedia.Models.PacienteViewModel

@{
    ViewData["Title"] = "Crear Paciente";
}

<h2>Crear Paciente</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Apellido" class="control-label"></label>
        <input asp-for="Apellido" class="form-control" />
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Direccion" class="control-label"></label>
        <input asp-for="Direccion" class="form-control" />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DNI" class="control-label"></label>
        <input asp-for="DNI" class="form-control" />
        <span asp-validation-for="DNI" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-primary" />
        <a href="@Url.Action("Index", "Paciente")" class="btn btn-secondary">Cancelar</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}